* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: white;
    text-align: center;
}

h1{
    font-size: 32px;
    cursor: pointer;
}

h2{
    font-size: 14px;
    cursor: pointer;
}

header {
    background-color: #4C35E0;
    color: white;
    padding: 30px;
}

.exo1 {
    background-color: #FEEDE6;
    display: inline-block;
    max-width: auto;
    vertical-align: top;
    padding: 30px 200px;
    margin-top: 80px;
    border-radius: 10px;
}

.exo2 {
    background-color: white;
    margin-top: 100px;
    padding: 50px 20px;
}

ul {
    margin:10px 0;
}

.random.over{
    background-color: #4C35E0;
    opacity: 0.8;
    color: white;
}

ul.click{
    display: none;
}

h1, h2{
    cursor: pointer;
}

button {
    background-color: #4C35E0; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.content {
    font-weight: bold;
    margin-bottom: 20px;
}

.flex_random {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.random {
    width: 30%;
    margin: 10px;
    border-style: solid;
    border-width:1px ;
    border-color: #4C35E0;
    border-radius: 10px;
    padding: 15px;
    transition: ease-in-out 0.4s;
}

iframe {
    margin: 30px 0;
}

.exo_title{
    margin: 40px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    cursor: text;
}

hr {
    width: 30%;
    margin: auto;
    margin-bottom: 40px;
    height: 1.5px;
    background-color: #ccc6c6;
    border: none;
}

footer {
    background-color:#4C35E0;
    color:white;
    padding: 40px;
    margin-top:40px;
}

footer p{
    margin: 0 auto;
}

.text_exo{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.text_exo p {
    margin: 10px 0;
    line-height: 1.4;
}

.text_exo p span{
    color: #4C35E0;
}

pre {
    border-radius: 7px;
    border-left: solid 7px;
    border-color: #F7DF30;
}

.success {
    border: solid 3px; 
    border-color: #4C35E0;
    width: 20%;
    height: auto;
    padding: 40px;
    margin:0 auto;
    border-radius: 15px; 
    cursor: pointer;
    transition: 1s ease-in-out;
    margin-top: 20px;
    margin-bottom: 60px;
}

h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.success p {
    font-size: 18px;
}

i {
    font-size: 120px;
    color: #4C35E0;
    margin-bottom: 20px;
    transition: 1s ease-in-out;
}

.success:hover i{
    color:#F7DF30
}
.success:hover {
    transform: rotate3D(1, 1, 1, 360deg);
    border-color: #F7DF30;
}






