* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.flex_random {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.random {
    width: 30%;
    background-color: bisque;
    margin: 10px;
}